nav .mode-icon-container {
    border: 1px solid var(--orange);
    border-radius: 50%;
    background-color: var(--orange);

}
nav .mode-icon-container .mode-icon {

    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div h1{
    color: var(--body-color);
}