<aside class="d-flex flex-column justify-content-center align-items-center">
    <img class="image" src="assets/personal.jpg" alt="profile">
    <h3 class="railway-font fs-29 fw-bold name">Abdelrahman Magdi</h3>
    <h6 class="railway-font fs-16 title ">Software Engineering</h6>
    <div class="social">
        <ul class=" links py-3 px-4 d-flex align-items-center gap-3">
            <li class="link-item">
                <a href="https://github.com/abdelrahman-magdii" target="_blank" class="link">
                    <i class="ri-github-fill fs-28 github-color"></i>
                </a>
            </li>
            <li class="link-item">
                <a href="https://www.linkedin.com/in/abdelrahman-magdii/" target="_blank" class="link">
                    <i class="ri-linkedin-fill fs-28 linkedin-color"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="contact pt-4">
        <ul>
            <li class="d-flex align-items-center gap-2">
                <div class="icon">
                    <i class="ri-smartphone-line fs-30"></i>
                </div>
                <div class="text">
                    <h4 class="mb-0 fs-14 fw-semibold">Phone</h4>
                    <a href="https://wa.me/+201024855747" target="_blank"
                        class="fs-14 fw-semibold text-decoration-none">01024855747</a>
                </div>
            </li>
            <li class="d-flex align-items-center gap-2">
                <div class="icon">
                    <i class="ri-mail-line fs-30"></i>
                </div>
                <div class="text">
                    <h4 class="mb-0 fs-14 fw-semibold">Email</h4>
                    <a href="mailto:abdelrahmanmagdi@gmail.com" target="_blank"
                        class="fs-14 fw-semibold text-decoration-none">{{email}}</a>
                </div>
            </li>
            <li class="d-flex align-items-center gap-2">
                <div class="icon">
                    <i class="ri-map-pin-line fs-30"></i>
                </div>
                <div class="text">
                    <h4 class="mb-0 fs-14 fw-semibold">Location</h4>
                    <h6 class="mb-0 fs-14 fw-semibold">Qalyupia, Egypt</h6>
                </div>
            </li>
            <li class="d-flex align-items-center justify-content-center">
                <a target="_blank" class="button-down text-decoration-none"
                    href="https://drive.google.com/file/d/1CdexjNse_5VAs_SqLZWrrJ758LO7LbgY/view?usp=drive_link"
                    download="abdelrahman_magdi_Resume.pdf">
                    <h4 class="fs-14 fw-semibold mb-0 ">Download Resume</h4>
                </a>
            </li>
        </ul>
    </div>
</aside>