<div class="tabs d-flex justify-content-end align-items-center">
    <ul
        class="nav py-2 py-lg-3 px-lg-4 d-flex justify-content-center gap-2 gap-sm-4 gap-md-5 gap-lg-3 justify-content-lg-end align-items-center">
        <li class="nav-item">
            <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link">
                <i class="ri-home-2-line fs-20 text-dark-1"></i>
                <span class="text-dark-1">home</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/about']" routerLinkActive="active" class="nav-link">
                <i class="ri-article-line fs-20 text-dark-1"></i>
                <span class="text-dark-1">Resume</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/skills']" routerLinkActive="active" class="nav-link">
                <i class="ri-flashlight-line fs-20 text-dark-1"></i>
                <span class="text-dark-1">skills</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/projects']" routerLinkActive="active" class="nav-link">
                <i class="ri-apps-fill fs-20 text-dark-1"></i>
                <span class="text-dark-1">projects</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/contact']" routerLinkActive="active" class="nav-link">
                <i class="ri-contacts-book-line fs-20 text-dark-1"></i>
                <span class="text-dark-1">contact</span>
            </a>
        </li>
    </ul>
</div>